body {
  background-color: #f4f7f6;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  text-align: center;
  color: #3854de;
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  position: relative;
}

.form-group label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.form-group i {
  margin-right: 10px;
  color: #007BFF;
}

.form-group input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  font-size: 16px;
}

.form-group input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  background-color: #2765ac;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

.certificate-preview {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.hidden {
  display: none;
}

#certificateContent {
  margin-bottom: 20px;
}

#downloadBtn {
  background-color: #2765ac;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#downloadBtn:hover {
  background-color: #45a049;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
